@model SeoAnalyzerWebApp.Models.DtoReportOptions
@{
    ViewBag.Title = "Home";
    Html.EnableUnobtrusiveJavaScript(true);
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>SEO Analyzer</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container" id="DivOptions">
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">

            <p>Put text or URL in text field below, select required options and press Analyze!</p>
            @using (Ajax.BeginForm("GetReport", "Home", new AjaxOptions
            {
                HttpMethod = "POST"
                    ,
                InsertionMode = InsertionMode.Replace
                    ,
                UpdateTargetId = "ReportResult"
                    ,
                OnSuccess = "$('html, body').animate({scrollTop: $('#ReportResult').offset().top}, 1000);"
                    ,
                OnComplete = "$('#ReportResultStatus').val('error')"
                    ,
                OnFailure = "$('#ReportResultStatus').val('fail')"
                , OnBegin = "$('#ReportResult').empty()"
                    ,
                LoadingElementId = "LoaderResult"
                    ,
                LoadingElementDuration = 1000

            }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="SourceString">Text or url</label>
                    @Html.TextAreaFor(m => m.SourceString
                           , new { @class = "form-control", @style = "min-width:100%; overflow:hidden;", @rows = "1" }
                          )
                </div>

                <div class="checkbox">
                    @Html.CheckBoxFor(f => f.OptFilterStopWords, new { @checked = 1 })
                    <label for="OptFilterStopWords">Filter stop words</label>
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(f => f.OptCalcOccurAll, new { @checked = 1 })
                    <label for="OptCalcOccurAll">Calculate number of occurrences on the page of each word</label>
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(f => f.OptCalcOccurMeta, new { @checked = 1 })
                    <label for="OptCalcOccurMeta">Calculate number of occurrences on the page of each word listed in meta tags</label>
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(f => f.OptCalcOccurExtLinks, new { @checked = 1 })
                    <label for="OptCalcOccurExtLinks">Calculate number of external links in the text</label>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Analyze</button>
                    <button type="button" class="btn btn-warning"  onclick="$('#SourceString').val('');"><i class="glyphicon glyphicon-remove"></i> Clear</button>
                </div>

            }
        </div>
    </div>
</div>
<div class="container">
    <div class ="row" id="LoaderResult" style="display:none;">
        <div class="col-sm-8 col-md-offset-2">
            <div class="alert alert-success" role="alert">
                Processing...
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="ReportResult">
    </div>
</div>
<script language="javascript">
    $("#SourceString").mouseenter(function () {
        $(this).css('min-height', '500px');
        $(this).css('overflow', 'auto');
    });
    $("#SourceString").mouseout(function () {
        if ($(this).val() == "" || $(this).val().split(/\r*\n/).length <= 1) {
            $(this).css('min-height', '0px');
            $(this).css('overflow', 'hidden');
        }
    });
</script>
