@model SeoAnalyzerLib.Models.Report

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left"><h3>Result</h3></div>
                    <div class="pull-right">
                        <a id="btnReturnToOptions" href="#" onclick="$('html, body').animate({ scrollTop: $('#DivOptions').offset().top }, 1000);"><i class="glyphicon glyphicon-arrow-up"></i> Return to options</a>
                        <a id="btnClearResults" href="#" onclick="$('#ReportResult').empty();"><i class="glyphicon glyphicon-remove"></i> Clear results</a>
                    </div>

                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <strong>Summary</strong>
                    <ul>
                        <li>Execution time: @Model.StatsTime.ToString("t")</li>
                        @if (Model.SourceData.OptCalcOccurExtLinks)
                        {
                            <li>Number of external links: @Model.NumberExtLinks</li>
                        }

                    </ul>

                </div>
                @if (Model.SourceData.OptCalcOccurAll)
                {
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <!-- Default panel contents -->
                            <div class="panel-heading">All words count</div>
                            @if (Model.NumberOccurWordsAll.Count == 0)
                            {
                                <div class="panel-body">
                                    <div class="alert alert-danger" role="alert">No meta tags found!</div>
                                </div>
                            }
                            else
                            {
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <td>Word</td>
                                            <td>Count</td>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.NumberOccurWordsAll)
                                    {
                                        <tr>
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }

                                </table>
                            }
                        </div>
                    </div>
                }

                @if (Model.SourceData.OptCalcOccurMeta)
                {
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Meta tags count</div>
                            @if (Model.NumberOccurWordsMeta.Count == 0)
                            {
                                <div class="panel-body">
                                    <div class="alert alert-danger" role="alert">No meta tags found!</div>
                                </div>
                            }
                            else
                            {
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <td>Word</td>
                                            <td>Count</td>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.NumberOccurWordsMeta)
                                    {
                                        <tr>
                                            <td>@item.Key</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }

                                </table>
                            }
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>